
/* A selector that targets an element or a group of elements */
h1 {
    /* A property and a value that specify a style rule */
    color: blue;
}

/* A selector that targets an element with a specific class attribute */
.bg-image {
    /* A property and a value that specify a background image */
    background-image: url("../images/background.jpg");
    /* A property and a value that specify the background size */
    background-size: cover;
}

/* A selector that targets an element with a specific id attribute */
#navbarSupportedContent {
    /* A property and a value that specify the text alignment */
    text-align: center;
}

/* A selector that targets an element that is inside another element */
.navbar-brand img {
    /* A property and a value that specify the margin */
    margin-right: 10px;
}

/* A selector that targets an element that has a specific attribute and value */
a[href="#"] {
    /* A property and a value that specify the text decoration */
    text-decoration: none;
}

/* A selector that targets an element that is in a specific state, such as hover, focus, active, etc. */
.btn:hover {
    /* A property and a value that specify the background color */
    background-color: green;
}
