body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333333;
}

.services {
  margin-top: 20px;
}

.services h2 {
  color: #333333;
  font-size: 18px;
  margin-bottom: 10px;
}

.service-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.service-item input[type="checkbox"] {
  margin-right: 10px;
}

.appointment-form {
  margin-top: 20px;
}

.form-field {
  margin-bottom: 10px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
  color: #333333;
  font-weight: bold;
}

.form-field input[type="text"],
.form-field select {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.form-field .availability {
  font-size: 12px;
  color: #888888;
  margin-top: 5px;
}

.form-field .availability.available {
  color: green;
}

.form-field .availability.unavailable {
  color: red;
}

.form-field .submit-btn {
  margin-top: 10px;
  background-color: #333333;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.messages {
  margin-top: 20px;
}

.success-message,
.error-message {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.success-message {
  background-color: #8bc34a;
  color: #ffffff;
}

.error-message {
  background-color: #f44336;
  color: #ffffff;
}

