/* Use a custom font from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

/* Use a custom color scheme */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
}

/* Style the body element with the custom font and some padding */
body {
  font-family: 'Roboto', sans-serif;
  padding-top: 80px;
}

/* Style the header element with a fixed height and a background image */
#header {
  height: 100vh;
  background-image: url('https://via.placeholder.com/800x600?text=Background+Image');
  background-size: cover;
  background-position: center;
}

/* Style the carousel captions with some margin and padding */
.carousel-caption {
  margin-bottom: 150px;
  padding: 20px;
}

/* Style the booking section with some margin and padding */
#booking-section {
  margin-top: -100px;
  padding: 100px 0;
}

/* Style the form labels with some font weight and margin */
.form-label {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Style the form select element with some border radius and box shadow */
.form-select {
  border-radius: 10px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Style the availability alert element with some font weight and text align */
.alert {
  font-weight: bold;
  text-align: center;
}

/* Style the custom checkboxes with some margin and padding */
.form-check {
  margin-bottom: 10px;
}

.form-check-label {
  padding-left: 40px;
}

/* Style the checkbox icons with some position and color */
.form-check-label i {
  position: absolute;
  left: 10px;
  top: 5px;
  color: var(--primary-color);
}

/* Style the checkbox spans with some font weight and text transform */
.form-check-label span {
  font-weight: bold;
  text-transform: uppercase;
}

/* Style the submit button with some margin and border radius */
.btn {
  margin-top: 20px;
  border-radius: 10px;
}

/* Style the chart element with some height and width */
#chart {
  height: 400px;
  width: 600px;
}

/* Style the table element with some margin and border */
.table {
  margin-top: 20px;
  border: 1px solid var(--secondary-color);
}

/* Style the table headings with some background color and text align */
.table th {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
}

/* Style the table cells with some padding and text align */
.table td {
  padding: 10px;
  text-align: center;
}

/* Style the footer element with some padding and text align */
#footer {
  padding: 20px;
  text-align: center;
}

/* Style the footer logo with some margin and display */
#footer img {
  margin-bottom: 10px;
  display: inline-block;
}

/* Style the footer list items with some display and margin */
#footer li {
  display: inline-block;
  margin: 10px;
}

/* Style the footer icons with some color and size */
#footer i {
  color: var(--primary-color);
  font-size: 24px;
}

/* Style the available time options with some background color and border */
.available {
  background-color: var(--success-color);
  border: 1px solid var(--success-color);
}

/* Style the unavailable time options with some background color and border */
.unavailable {
  background-color: var(--danger-color);
  border: 1px solid var(--danger-color);
}

