body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
  color: #007bff;
}

#booking-form {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h2 {
  margin-bottom: 10px;
  color: #007bff;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
}

input[type="text"],
select {
  width: 100%;
  padding: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}

#booking-status {
  border-top: none;
  padding-top: 20px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}

#booked-services {
  margin-bottom: 10px;
}

#open-times {
  font-weight: bold;
}

.availability {
  margin-top: 10px;
  font-weight: bold;
}

.unavailable {
  color: red;
}

.available {
  color: green;
}

input[type="checkbox"] {
    appearance:none; 
    width:16px; 
    height:16px; 
    border-radius:50%; 
    border:solid gray; 
    position:relative; 
    outline:none; 
    cursor:pointer; 
}
input[type="checkbox"]:checked::before { 
    content:""; 
    display:block; 
    width:8px; 
    height:8px; 
    border-radius:50%; 
    background:#007bff; 
    position:absolute; 
    top:4px; 
    left:4px; 
}
input[type="checkbox"]:hover { 
    border-color:#007bff; 
}

