body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #333;
  color: white;
  margin: 0;
  padding: 20px;
}

form {
  margin: 20px;
}

h2 {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
}

#chart {
  margin: 20px;
}

